$color-yellow-background: #FFE600;
$color-gray-background: #EBEBEB;
$color-black-light: rgba(0, 0, 0, 0.55);
$color-black: rgba(0, 0, 0, 0.8);
$color-black-heavy: rgba(0, 0, 0, 0.9);
$color-green: #00A650;
$color-white: #FFFFFF;
$color-gray: #F5F5F5;
$color-blue: #3483FA;
$color-blue-light: #d4deec;
